body {
  background-color: #fff;
  font: 300 16px/1.5 'Nunito', Helvetica, Arial, sans-serif;
  color: #333;
  animation: fadeInAnimation ease 1.5s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation { 
  0% { opacity: 0; } 
  100% { opacity: 1; } 
} 

.wrapper {
  width: 960px;
  margin: -7px auto;
}

header {
  width: 350px;
  height: 100%;
  float: left;
  position: fixed;
  background: url(../assets/line.png) repeat-y center;
  background-size: 2px;
  overflow-y: auto;
}
header span {
  padding: 30px 6px;
  margin: 0 auto;
  text-align: center;
  display: block;
}
.icons a {
  padding: 15px;
  transition: padding-right 0.1s ease; 
}
.icons a:hover { 
  padding-right: 8%; 
}
.textlinks { 
  display: none; 
}

section {
  width: 600px;
  margin-left: 360px;
  padding: 50px 0px 50px;
}
section a {
  color: #333;
  text-decoration: underline;
}
section a:hover {
  text-decoration: none;
}
section a:visited {
  color: #333;
}
#logo {
  margin-bottom: 40px;
  width: 518px;
}
img {
  max-width: 100%;
}
p, ul, ol {
  margin-bottom: 20px;
}
blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding-left: 20px;
  font-style: italic;
}
hr {
  width: 30px;
  margin: 30px auto;
}
#license {
  padding-top: 50px;
  font-size: 11px;
}

@media screen and (max-width: 960px) {

  .wrapper {
    width: 90%;
    text-align: justify;
  }

  header {
    width: 100%;
    height: auto;
    position: relative;
    background-image: none;
    padding: 20px 0;
    text-align: center;
  }
  header a {
    float: center;
    padding: 2px 12px;
    font-family: Courier, monospace;
    color: #000;
    text-decoration: none;
  }
  header a:hover {
    color: yellow;
  }
  .icons {
    display: none;
  }
  .textlinks {
    display: block;
  }

  section {
    margin-left: 0px;
    width: 100%;
  }
  #logo {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  
}

@media screen and (max-width: 500px) {

#logo {
  display: none;
}

}